.presentation-details {
	position: absolute;
	left: 10px;
	bottom: 10px;
	font: .9em sans-serif;
	color: #444;
	padding: 20px 0 20px 60px;

	background-size: 50px 50px;
}
.presentation-details p {
	color: #AAA999;
}
.presentation-details a, .presentation-details a:visited, .presentation-details a:active {
	color: #a4cbd0;
	text-decoration: none;
}
.presentation-details a:hover {
	color: #FFF;
	text-decoration: none;
}

#tabla1, #tabla2 {
	margin-top: -80px;
}

.estimacion-tiempos table td {
	text-align: center;
}

.potencia-energia table td {
	text-align: center;
}

.estimacion-tiempos {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.estimacion-tiempos table {
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
}
.estimacion-tiempos tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.estimacion-tiempos table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.estimacion-tiempos table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}
.estimacion-tiempos tr:last-child td:first-child {
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}
.estimacion-tiempos tr:hover td {}
.estimacion-tiempos tr:nth-child(odd) { background-color:#ffaa56; }
.estimacion-tiempos tr:nth-child(even) { background-color:#ffffff; }
.estimacion-tiempos td{
	vertical-align:middle;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	margin: 0px;
	padding: 0px;
	font-size:18px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}
.estimacion-tiempos tr:last-child td{
	border-width:0px 1px 0px 0px;
}
.estimacion-tiempos tr td:last-child{
	border-width:0px 0px 1px 0px;
}
.estimacion-tiempos tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.estimacion-tiempos tr:first-child td{
	background:-o-linear-gradient(bottom, #ff7f00 5%, #bf5f00 100%);
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #bf5f00) );
	background:-moz-linear-gradient( center top, #ff7f00 5%, #bf5f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#bf5f00");
	background: -o-linear-gradient(top,#ff7f00,bf5f00);
	background-color:#ff7f00;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:20px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.estimacion-tiempos tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #ff7f00 5%, #bf5f00 100%);
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #bf5f00) );
	background:-moz-linear-gradient( center top, #ff7f00 5%, #bf5f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#bf5f00");
	background: -o-linear-gradient(top,#ff7f00,bf5f00);
	background-color:#ff7f00;
}
.estimacion-tiempos tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.estimacion-tiempos tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

potencia-energia {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #3f7f00;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.potencia-energia table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.potencia-energia tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.potencia-energia table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.potencia-energia table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.potencia-energia tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.potencia-energia tr:hover td{
	
}
.potencia-energia tr:nth-child(odd){ background-color:#d4ffaa; }
.potencia-energia tr:nth-child(even)    { background-color:#ffffff; }.potencia-energia td{
	vertical-align:middle;
	border:1px solid #3f7f00;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:4px;
	font-size:18px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.potencia-energia tr:last-child td{
	border-width:0px 1px 0px 0px;
}.potencia-energia tr td:last-child{
	border-width:0px 0px 1px 0px;
}.potencia-energia tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.potencia-energia tr:first-child td{
		background:-o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #3f7f00) );
	background:-moz-linear-gradient( center top, #5fbf00 5%, #3f7f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fbf00", endColorstr="#3f7f00");	background: -o-linear-gradient(top,#5fbf00,3f7f00);

	background-color:#5fbf00;
	border:0px solid #3f7f00;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:20px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.potencia-energia tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #3f7f00) );
	background:-moz-linear-gradient( center top, #5fbf00 5%, #3f7f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fbf00", endColorstr="#3f7f00");	background: -o-linear-gradient(top,#5fbf00,3f7f00);

	background-color:#5fbf00;
}
.potencia-energia tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.potencia-energia tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}